.container{
margin-left: 50px;
}
input{
  width: 70%;
  height: 30px;
  border-radius: 3px;
  margin-top: 20px;
}

button{
  margin-top: 20px;
  width: 150px;
  height: 30px;
  border-radius: 4px;
  background-color: black;
  color: white;
}
.message{
  font-size: 20px;
  margin-top: 20px;
}
.box{
 width: 350px;
  border: 2px solid black;
  padding: 25px;
  margin: 20px;
  font-size: 22px;
  border-radius:5px;
  display: inline-flex; 
}

.container2{
  margin-top: 30px;
}